<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>BlueSearch/Home</title>

</head>
<body >
<h1>Home</h1>

<h4>What do you need done?</h4>
<form method="post" action="/createPost">
<!--  <input type= "hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
<textarea name="jobDescription" id="createPostBox" rows="4" cols="50" th:field=${post.jobDescription}></textarea>
 <button type="submit">Post Job</button>
</form>


<div th:each="post : ${posts}">
		<br /> <a th:href="@{/profile/{userId}(userId=${post.user.userId})}" th:text="${post.user.username}"></a><br />
		<span th:text="${post.jobDescription}"></span><br /> <span
			th:text="${post.createdDate}"></span>
			<input type="text" name="commentInput" class="commentBox">
		<button class="commentBtn">Comment</button>
	
		<div th:if="${user.userId == post.user.userId}">
		<form method="post" th:action="@{/dashboard/{postId}/delete(postId=${post.postId})}">
		<button type="submit" >Delete</button>
		</form>
		<a th:href="@{/post/{postId}(postId=${post.postId})}" th:text="Comment"></a>
		</div>
		</div>

<form method="post" action="/logout">
<!--  <input type= "hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
<button type="submit">Logout</button>
</form>
<script type="text/javascript" th:inline="javascript" src="/JS/dashboard.js"></script>
</body>
</html>